{% extends 'base.html.twig' %}
{% import 'macros/header.html.twig' as header %}
{% block body %}
    {{ header.render_header('Starter Page') }}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    my content goes here
                </div>
            </div>
        </div>
    </div>
{% endblock %}
