{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>
        {{ blog.title }}
    </p>

    <article>
        <pre>
        {{ blog.content | raw }}
            </pre>
    </article>
{% endblock %}
